#aboutMe{
    width: 90vw;
    /* position: absolute; */
    /* top: 50px; */
    color: white;
    padding: 25px;
    border: 2px solid #444444;
    border-radius: 1rem 0.25rem 1rem 0.25rem;
    box-sizing: border-box;
    background: rgba(34, 34, 34, 0.75);
    /* opacity: 0; */
    /* top: 400px; */
    /* display: none; */
}

#aboutMe span{
    /* position: relative; */
    margin-top: -40px;
    margin-left: 13px;
    padding: 5px;
    background: #111111;
    box-sizing: border-box;
    border: 2px solid #444444;
    border-radius: 0.5rem 0.25rem 0.5rem 0.25rem;
    font-size: larger;
    /* border: 2px solid red; */
    display: block;
    width: 13ch;
    text-align: center;
}

#aboutMe span p, #aboutMe p{
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#aboutMe span p:hover, #aboutMe p:hover{
    background: linear-gradient(to right, skyblue, crimson);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width:320px){
    #aboutMe{
        font-size: larger;
    }
}