#academics{
    width: 90vw;
    /* position: absolute;
    top: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    border: 2px solid #444444;
    border-radius: 1rem 0.25rem 1rem 0.25rem;
    background: rgba(34, 34, 34, 0.75);
    padding: 25px 25px 50px 25px;
    box-sizing: border-box;
    color: white;
    /* opacity: 0; */
    /* display: none; */
}

#academics span{
    /* position: relative; */
    margin-top: -40px;
    margin-left: -50px;
    font-size: larger;
    padding: 5px;
    background: #111111;
    display: block;
    width: 13ch;
    text-align: center;
    border: 2px solid #444444;
    border-radius: 0.5rem 0 0.5rem 0;
}

/* #academics img:nth-of-type(3){
    transform: translateY(-44px) translateX(-20px) rotateZ(20deg);
} */

/* #academics img:nth-of-type(2){
    transform: translateX(13px);
} */

#academics img:nth-of-type(2), #academics img:nth-of-type(3){
    transition: filter 0.4s ease;
    filter: contrast(0.4);
}

#academics img:nth-of-type(2):hover, #academics img:nth-of-type(3):hover{
    filter: contrast(0) invert(1);
}

#academics span p, #academics p{
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#academics span p:hover, #academics p:hover{
    background: linear-gradient(to right, skyblue, crimson);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 320px){
    #academics p{
        font-size: larger;
    }
}

@media only screen and (min-width: 768px){
    #academics{
        /* position: relative; */
        margin-top: -200px;
    }
}