#contacts{
    width: 90vw;
    box-sizing: border-box;
    padding: 25px 25px 50px 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    /* position: absolute;
    top: 400px; */
    border: 2px solid #444444;
    border-radius: 1rem 0.25rem 1rem 0.25rem;
    background: rgba(34, 34, 34, 0.75);
    /* display: none; */
    /* opacity: 0; */
}

#contacts span{
    /* position: relative; */
    margin-top: -40px;
    margin-left: -38px;
    font-size: larger;
    padding: 5px;
    background: #111111;
    text-align: center;
    border: 2px solid #444444;
    border-radius: 0.5rem 0.25rem 0.5rem 0.25rem;
}

#contacts span p, #contacts p{
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contacts span p:hover, #contacts p:hover{
    background: linear-gradient(to right, skyblue, crimson);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contacts img:nth-of-type(2){
    transition: filter 0.4s ease;
    filter: contrast(0.4);
}

#contacts img:nth-of-type(2):hover{
    filter: contrast(0) invert(1);
}

@media only screen and (min-width: 320px){
    #contacts p{
        font-size: larger;
    }
}

@media only screen and (min-width: 768px){
    #contacts{
        /* position: relative; */
        margin-top: -200px;
    }
}