.cube{
    border: 2px solid green;
}

.cubeContainer{
    width: 200px;
    aspect-ratio: 1;
    /* border: 2px solid red; */
    place-self: center;
    perspective: 2000px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(45deg) rotateZ(45deg);
}

.cubeContainer{
    position: absolute;
    top: 25%;
}

.cubeSide{
    width: 100%;
    aspect-ratio: 1;
    border: 2px solid #380356;
    border-radius: 0.5rem;
    position: absolute;
    /* background: url(../Assets/BA.jpg) center center no-repeat;
    background-size: cover; */
    background-color: yellow;
    backface-visibility: hidden;
}

.cubeSide:nth-of-type(1){
    transform: translateZ(105px);
}

.cubeSide:nth-of-type(6){
    transform: translateZ(-105px) rotateX(180deg) rotateZ(180deg);
}

.cubeSide:nth-of-type(2){
    transform: translateY(105px) rotateX(-90deg);
}

.cubeSide:nth-of-type(3){
    transform: translateY(-105px) rotateX(90deg);
}

.cubeSide:nth-of-type(4){
    transform: translateX(-105px) rotateY(-90deg);
}

.cubeSide:nth-of-type(5){
    transform: translateX(105px) rotateY(90deg) rotateZ(-90deg);
}

.cubeContainer{
    animation: spinIt 3s ease-in-out 0s 1,
               settleIt 3s ease-in-out 3s 1, 
               showEmAll 24s ease-in-out 6s infinite;
}

@keyframes showEmAll{
  0% {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
  12.5% {transform: rotateX(30deg) rotateY(0deg) rotateZ(30deg);}
  25% {transform: rotateX(45deg) rotateY(15deg) rotateZ(60deg);}
  37.5% {transform: rotateX(30deg) rotateY(45deg) rotateZ(120deg);}
  50% {transform: rotateX(45deg) rotateY(30deg) rotateZ(180deg);}
  62.5% {transform: rotateX(30deg) rotateY(45deg) rotateZ(225deg);}
  75% {transform: rotateX(45deg) rotateY(30deg) rotateZ(270deg)}
  87.5% {transform: rotateX(15deg) rotateY(15deg) rotateZ(315deg);}
  100%{transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);}
}

@keyframes spinIt{
    from{
        transform: rotateX(0deg) rotateY(45deg) rotateZ(45deg);
    }
    to{
        transform: rotateX(0deg) rotateY(4005deg) rotateZ(45deg);
    }
}

@keyframes settleIt{
    form{
        transform: rotateX(0deg) rotateY(4005deg) rotateZ(45deg);
    }
    to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}