.detailCategory {
    opacity: 0;
    transform: translateY(12px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.detailCategory.show {
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (min-width: 768px){
    .detailCategory:nth-of-type(3), .detailCategory:nth-of-type(4), .detailCategory:nth-of-type(5), .detailCategory:nth-of-type(6){
        width: 40vw !important;
    }
    #aboutMe{
        /* position: relative; */
        margin-top: -200px;
    }
    .detailCategory{
        scroll-margin-top: 175px;
    }
}
