footer{
    width: 100vw;
    height: 10vh;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

footer p{
    color: white;
    font-size: smaller;
}

footer h3{
    color: white;
    font-size: small;
}