footer{
    width: 100vw;
    height: 10vh;
    padding: 25px;
    border: 2px solid #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    margin-top: 98px;
    background: rgba(128, 128, 128, 0.26);
    box-sizing: content-box;
    /* display: none; */
}

footer p{
    font-size: small;
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4px;
}

footer p:nth-of-type(1){
    text-decoration: underline #444444;

}

footer h3{
    font-size: large;
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
}

@media only screen and (min-width: 375px){
    footer h3{
        font-size: larger;
    }
    footer p{
        font-size: large;
    }
}