:root[data-theme="light"]{
    --border-color: #e2e8f0;
    --gradient: linear-gradient(to right, #6366f1, #3b82f6, #06b6d4);
    --gradient-hover: linear-gradient(to right, #4f46e5, #2563eb);
}

:root[data-theme="dark"]{
    --border-color: #334155;
    --gradient: linear-gradient(to right, #818cf8, #38bdf8, #22c55e);
    --gradient-hover: linear-gradient(to right, #6366f1, #0ea5e9);
}

#introduction{
    width: 90vw;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 1rem 0.25rem 1rem 0.25rem;
    padding: 25px;
}

#introduction h3{
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    letter-spacing: 2px;
    color: transparent;
}

#introduction h3 span:nth-of-type(1){
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#introduction h3 span:nth-of-type(2){
    font-family: 'Nosifer', 'Times New Roman', Times, serif;
}

#introduction p{
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#introduction h3:hover{
    background: var(--gradient-hover);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#introduction p:hover{
    background: var(--gradient-hover);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 320px){
    #introduction p{
        font-size: large;
    }
}

@media only screen and (min-width: 768px){
    #introduction{
        font-size: larger;
        place-content: center center;
    }
}

@media only screen and (min-width: 1024px){
    #introduction h3{
        font-size: xx-large;
    }
    #introduction p{
        font-size: larger;
    }
}