nav{
    width: 90vw;
    min-height: 50px;
    border: 2px solid #444444;
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 25px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    background: rgba(128, 128, 128, 0.26);
    position: fixed;
    top: 25px;
    z-index: 4;
}

nav:hover{
    background: #333333;
}

nav section{
    width: 100%;
    min-height: 100px;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    display: none;
}

.navItem{
    color: white;
    width: 11ch;
    height: 40px;
    border: 2px solid #666666;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    cursor: pointer;
}

.navItem a{
    all: unset;
}

.siteLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

h1{
    font-size: x-large;
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

#pp{
    width: 30px;
    aspect-ratio: 1;
    background: url(../Assets/BA.png) center center no-repeat;
    background-size: cover;
    border: 1px solid white;
    border-radius: 50%;
}

h1:hover{
    background: linear-gradient(to right, skyblue, crimson);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav.scrolled{
    background: #333333;
}

@media only screen and (min-width: 375px){
    nav{
        min-height: 75px;
    }
    #pp{
        width: 40px;
    }
    nav section{
        width: 350px;
    }
}

@media only screen and (min-width:647px){
    nav{
        width: 80vw;
    }
    nav section{
        width: 450px;
    }
}

@media only screen and (min-width: 768px){
    nav{
        width: 90vw;
        padding: 0px;
    }
    #pp{
        width: 50px;
    }
    nav img{
        display: none;
    }
    .siteLogo{
        width: 11%;
    }
    h1{
        display: none;
    }
    nav section{
        width: 87%;
        padding: 0px;
        gap: 0px;
        display: flex;
    }
    .navItem span{
        width: 11ch;
        height: 40px;
        border-radius: 0.75rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #888888;
        background: linear-gradient(to right, white, grey, brown);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .navItem span:hover{
        background: linear-gradient(to right, skyblue, crimson);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .navItem:hover{
        background-color: #222222;
    }
}

@media only screen and (min-width: 1024px){
    h1{
        display: block;
    }
    .siteLogo{
        width: 24%;
        column-gap: 15px;
    }
    nav section{
        display: flex;
        width: 69%;
    }
}

@media only screen and (min-width: 1252px){
    .navItem{
        padding: 5px;
        font-size: large;
    }
    h1{
        font-size: xx-large;
    }
    .navItem span{
        letter-spacing: 1px;
    }
}
