#myProjects{
    width: 90vw;
    box-sizing: border-box;
    padding: 25px 25px 50px 25px;
    border: 2px solid #444444;
    border-radius: 1rem 0.25rem 1rem 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    color: white;
    background: rgba(34, 34, 34, 0.75);
}

#myProjects span{
    margin-top: -40px;
    margin-left: -40px;
    width: 13ch;
    text-align: center;
    font-size: larger;
    padding: 5px;
    background: #111111;
    border: 2px solid #444444;
    border-radius: 0.5rem 0.25rem 0.5rem 0.25rem;
}

#myProjects span p, #myProjects p{
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#myProjects span p:hover, #myProjects p:hover{
    background: linear-gradient(to right, skyblue, crimson);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#myProjects img:nth-of-type(2){
    transition: filter 0.4s ease;
    filter: contrast(0.4);
}

#myProjects img:nth-of-type(2):hover{
    filter: contrast(0) invert(1);
}

@media only screen and (min-width: 320px){
    #myProjects  p{
        font-size: larger;
    }
}