#pseudoDecor{
    width: 100vw !important;
    height: 100vh !important;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: visible;
    /* display: none; */
}

.pseudoDecorer:nth-of-type(1), .pseudoDecorer:nth-of-type(3), .pseudoDecorer:nth-of-type(5){
    width: 100px;
    aspect-ratio: 1;
    /* background-color: rgba(147, 0, 156, 0.26); */
    background-color: rgba(56, 3, 86, 0.25);
    border-radius: 0.5rem;
}

.pseudoDecorer:nth-of-type(2), .pseudoDecorer:nth-of-type(4), .pseudoDecorer:nth-of-type(6){
    width: 250px;
    aspect-ratio: 1;
    /* background-color: rgba(176, 0, 178, 0.26); */
    background-color: rgba(56, 3, 86, 0.25);
    border-radius: 0.5rem;
}

.pseudoDecorer{
    rotate: 45deg;
    flex-shrink: none;
    position: fixed;
}

.pseudoDecorer:nth-of-type(2){
    top: 25px;
    left: -175px;
}

.pseudoDecorer:nth-of-type(4){
    top: 200px;
    right: -150px;
}

.pseudoDecorer:nth-of-type(6){
    top: 375px;
    left: -175px;
}

.pseudoDecorer:nth-of-type(1){
    top: 75px;
    right: 50px;
    animation: spinClockwise 8s ease 0s infinite alternate;
}

.pseudoDecorer:nth-of-type(3){
    top: 275px;
    left: 50px;
    animation: spinAnticlockwise 8s ease 0s infinite alternate;
}

.pseudoDecorer:nth-of-type(5){
    top: 475px;
    right: 50px;
    animation: spinClockwise 8s ease 0s infinite alternate;
}

@keyframes spinClockwise{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes spinAnticlockwise{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(-360deg);
    }
}








