*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body, html{
    background-color: #000000;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    overflow-y: hidden;
}

main{
    width: 90vw;
    margin-top: 146px;
    z-index: 2;
    transition: transform 0.4s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 71px;
    justify-items: center;
    align-items: center;
}

.detailCategory {
    opacity: 0;
    transform: translateY(12px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.detailCategory.show {
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (min-width: 375px){
    main{
        margin-top: 172px;
        row-gap: 74px;
    }
}

@media only screen and (min-width: 768px){
    main{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main > section{
        min-width: 200px;
        max-width: 44%;
        min-height: 400px;
    }
    main > section:nth-of-type(1){
        min-width: 44%;
    }
    main > section:nth-of-type(2){
        min-height: 260px;
    }
    .detailCategory{
        scroll-margin-top: 175px;
    }
}

@media only screen and (min-width: 1024px){
    main{
        justify-content: space-evenly;
    }
    main > section:nth-of-type(1){
        min-width: 30%;
    }
    main > section:nth-of-type(3), main > section:nth-of-type(4), main > section:nth-of-type(5), main > section:nth-of-type(6){
        max-width: 35%;
    }
}